#add_voters_main_content{
    margin-left: 60px;
}
#uploaded_img{
    width: 200px;
    height: 175px;
    border-color: black;
    
}
#uploaded_symbol{
 width: 200px;
    height: 175px;
    border-color: black;

}